{% extends "base.html" %}

{% block title %}Dashboard - Jira Analysis{% endblock %}

{% block extra_css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="text-center mb-4">Aktywność użytkowników</h2>
        <div class="card">
            <div class="card-body">
                <canvas id="activityChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/scripts.js"></script>
{% endblock %}
