{% extends "admin/modals/base_form_modal.html" %}

{% set modal_id = "portfolioFormModal" %}
{% set form_id = "portfolioForm" %}
{% set title = "Portfolio Form" %}

{% block form_fields %}
<div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.manager.label(class="form-label") }}
    {{ form.manager(class="form-select select2") }}
</div>
<div class="mb-3">
    {{ form.projects.label(class="form-label") }}
    {{ form.projects(class="form-select select2", multiple=true) }}
</div>
{% endblock %} 