{% extends "admin/modals/base_form_modal.html" %}

{% set modal_id = "teamFormModal" %}
{% set form_id = "teamForm" %}
{% set title = "Team Form" %}

{% block form_fields %}
<div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.leader.label(class="form-label") }}
    {{ form.leader(class="form-select select2") }}
</div>
<div class="mb-3">
    {{ form.members.label(class="form-label") }}
    {{ form.members(class="form-select select2", multiple=true) }}
</div>
{% endblock %} 